<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.L.kod_name}</title>
    <link href="__PUBLIC__/images/favicon.ico" rel="Shortcut Icon" >
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/font-awesome/css/font-awesome.css" rel="stylesheet" >
    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome-ie7.css">
    <![endif]-->
    <block name="style"></block>
</head>
<body>
<!-- body -->
<block name="body"></block>
<!-- footer -->
<block name="footer">
    <div class="common_footer">{$Think.L.copyright_pre} v{$Think.const.LITE_VERSION} {$Think.L.copyright_info}</div>
</block>
<script src="__PUBLIC__/index.php?share/common_js"></script>
<block name="script"></block>
</body>
</html>