<extend file="../Base/sticky_header_layout" />
<block name="wrapper">

    <div class="row">
        <div class="col-sm-12">

            <!--price start-->
            <div class="text-center price-head">
                <h1 class="color-terques"> 30 days Free Trial on All Accounts </h1>
                <p>No risk. No hidden fees. Cancel at anytime. </p>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> Basic </h1>

                    </div>
                    <div class="pricing-quote">
                        $19<span class="note">.00</span>
                        <p>Per Month</p>
                    </div>
                    <ul class="list-unstyled">
                        <li>24/7 Tech Support</li>
                        <li>Advanced Options</li>
                        <li>100GB Storage</li>
                        <li>1GB Bandwidth</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">get it now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> starter </h1>

                    </div>
                    <div class="pricing-quote">
                        $29<span class="note">.00</span>
                        <p>Per Month</p>
                    </div>
                    <ul class="list-unstyled">
                        <li>24/7 Tech Support</li>
                        <li>Advanced Options</li>
                        <li>100GB Storage</li>
                        <li>1GB Bandwidth</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">get it now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table most-popular">
                    <div class="pricing-head">
                        <h1> Premium </h1>

                    </div>
                    <div class="pricing-quote">
                        $49<span class="note">.00</span>
                        <p>Per Month</p>
                    </div>
                    <ul class="list-unstyled">
                        <li>24/7 Tech Support</li>
                        <li>Advanced Options</li>
                        <li>100GB Storage</li>
                        <li>1GB Bandwidth</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">get it now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> Enterprise  </h1>
                    </div>
                    <div class="pricing-quote">
                        $79<span class="note">.00</span>
                        <p>Per Month</p>
                    </div>
                    <ul class="list-unstyled">
                        <li>24/7 Tech Support</li>
                        <li>Advanced Options</li>
                        <li>100GB Storage</li>
                        <li>1GB Bandwidth</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">get it now</a>
                    </div>
                </div>
            </div>
            <!--price end-->
        </div>
    </div>
</block>