<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台信息管理系统</title>
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/plugin/fa45/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <block name="style"></block>
    <style>
        .clear{clear:both;height:0;overflow:hidden;}
        .leftmenu .title>span{
            margin-top: 4px;
        }
    </style>
</head>

<block name="body">
    <body>
    </body>
</block>

<script src="__PUBLIC__/js/L.js"></script>
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<block name="script"></block>
</html>