<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f

  #请求Public资源不经过index.php#
  RewriteRule ^(?![^>]*Public)(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>