<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

    <title>Super Admin Responsive Template</title>

    <!-- CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <script src="__PUBLIC__/js/L.js"></script>
    <script>
        L.init({public_url:'__PUBLIC__'});
    </script>
</head>
<body id="skin-blur-violate">
<section id="login">
    <header>
        <h1>SUPER ADMIN</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
    </header>

    <div class="clearfix"></div>

    <block name="form">

    </block>

</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script> <!-- jQuery Library -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>
