<extend file="../basic/general.html"/>
<block name="body">

	<include file="../common/navbar_share.html"/>

	<div class="frame-header">
		<div class="header-content">
			<div class="header-left">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-default" id='history_back' title='{$Think.L.history_back}' type="button">
						<i class="font-icon icon-arrow-left"></i>
					</button>
					<button class="btn btn-default" id='history_next' title='{$Think.L.history_next}' type="button">
						<i class="font-icon icon-arrow-right"></i>
					</button>
					<button class="btn btn-default" id='refresh' title='{$Think.L.refresh_all}' type="button">
						<i class="font-icon icon-refresh"></i>
					</button>
				</div>
			</div><!-- /header left -->

			<div class='header-middle'>
				<button class="btn btn-default" id='home' title='{$Think.L.root_path}'>
					<i class="font-icon icon-home"></i>
				</button>

				<div id='yarnball' title="{$Think.L.address_in_edit}"></div>
				<div id='yarnball_input'><input type="text" name="path" value="" class="path" id="path"/></div>
				<button class="btn btn-default" id='up' title='{$Think.L.go_up}' type="button">
					<i class="font-icon icon-circle-arrow-up"></i>
				</button>
			</div><!-- /header-middle end-->

			<div class='header-right'>
				<input type="text" name="seach"/>
				<button class="btn btn-default" id='search' title='{$Think.L.search}' type="button">
					<i class="font-icon icon-search"></i>
				</button>
			</div>
		</div>
	</div><!-- / header end -->

	<div class="frame-main">
		<div class='frame-left'>
			<ul id="folderList" class="ztree"></ul>
		</div><!-- / frame-left end-->
		<div class='frame-resize'></div>
		<div class='frame-right'>
			<div class="frame-right-main">
				<div class="tools">
					<div class="tools-left">
						<!-- 文件功能 -->
						<div class="btn-group btn-group-sm kod_path_tool">
							<button id='selectAll' class="btn btn-default" type="button">
								<i class="font-icon icon-refresh"></i>{$Think.L.selectAll}
							</button>
							<button id='down' class="btn btn-default" type="button">
								<i class="font-icon icon-download"></i>{$Think.L.download}
							</button>
						</div>
						<span class='msg'>{$Think.L.path_loading}</span>
					</div>
					<div class="tools-right tools_list">
						<div class="btn-group btn-group-sm">
							<button id='set_icon' title="{$Think.L.list_icon}" type="button" class="btn btn-default">
								<i class="font-icon icon-th"></i>
							</button>
							<button id='set_list' title="{$Think.L.list_list}" type="button" class="btn btn-default">
								<i class="font-icon icon-list"></i>
							</button>
							<div class="btn-group btn-group-sm">
								<button id="set_theme" title="{$Think.L.setting_theme}" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
									<i class="font-icon icon-dashboard"></i>&nbsp;&nbsp;<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right dropdown-menu-theme fadein">
									<?php
									$tpl="<li class='list {this}' theme='{0}'><a href='javascript:void(0);'>{1}</a></li>\n";
									echo getTplList(',',':',$config['setting_all']['themeall'],$tpl,$config['user']['theme'],'this');
									?>
								</ul>
							</div>
						</div>
					</div>
					<div style="clear:both"></div>
				</div><!-- end tools -->
				<div id='list_type_list'></div><!-- list type 列表排序方式 -->
				<div class='bodymain menuBodyMain'>
					<div class="fileContiner"></div>
				</div><!-- html5拖拽上传list -->
			</div>
		</div><!-- / frame-right end-->
	</div><!-- / frame-main end-->
	<include file="../common/footer.html"/>
</block>
<block name="style">
	<link href="__PUBLIC__/css/skin/simple/app_explorer.css" rel="stylesheet" id='link_css_list'/>

	<style type="text/css">
		.frame-main .frame-left {bottom: 0px;}
		/*<?php if(isset($_GET['type'])){*/
		.topbar{display: none;}.frame-header{top:0;}.frame-main{top:50px;}
		<!--} ?>-->
	</style>
</block>
<block name="script">
	<script>
		AUTH  = {'explorer:fileDownload':1};
		G.this_path = "<?php echo $dir;?>";
		G.user = "<?php echo $_GET['user}";
		G.sid = "<?php echo $_GET['sid}";
		//	G.share_info = <?php echo json_encode();?>;
		G.theme = "<?php echo $config_theme;?>";
	</script>
</block>