<extend file="../Base/sticky_header_layout" />
<block name="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">General</header>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" name="title" class="form-control" placeholder="">
                                <p class="help-block">Website title here</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Logo icon</label>
                            <div class="col-lg-5">
                                <input type="file" name="title" class="form-control" placeholder="">
                                <p class="help-block">Logo image,size of 144x40</p>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" name="title" class="form-control" placeholder="">
                                <p class="help-block">Small logo image,size of 40x40</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Logo URL</label>
                            <div class="col-lg-10">
                                <input type="text" name="title" class="form-control" placeholder="">
                                <p class="help-block">Redirect</p>
                            </div>
                        </div>






                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">Switch</header>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" name="title" class="form-control" placeholder="">
                                <p class="help-block">Website title here</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
