<extend file="../Base/sticky_header_layout" />
<block name="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    Chat
                </header>
                <div class="panel-body">
                    <ul class="chats normal-chat">
                        <li class="in">
                            <img src="__PUBLIC__/images/photos/user1.png" alt="" class="avatar">
                            <div class="message ">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Apr 28, 2014 1:33</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="__PUBLIC__/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Margarita Rose</a>
                                <span class="datetime">at Apr 28, 2014 1:35</span>
                                        <span class="body">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="__PUBLIC__/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Apr 28, 2014 1:36</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                    </ul>
                    <div class="chat-form ">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <input type="text" style="width: 100%" placeholder="Type a message here..." class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    Chat 2
                </header>
                <div class="panel-body">
                    <ul class="chats cool-chat">
                        <li class="in">
                            <img src="__PUBLIC__/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Mar 12, 2014 6:12</span>
                                        <span class="body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="__PUBLIC__/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Margarita Rose</a>
                                <span class="datetime">at Mar 12, 2014 6:13</span>
                                        <span class="body">
                                            sed diam nonummy nibh euismod tincidunt ut
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="__PUBLIC__/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Mar 12, 2014 6:12</span>
                                        <span class="body">
                                            aoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="__PUBLIC__/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Margarita Rose</a>
                                <span class="datetime">at Mar 12, 2014 6:13</span>
                                        <span class="body">
                                            sed diam nonummy nibh euismod tincidunt ut
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="__PUBLIC__/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Jone Doe</a>
                                <span class="datetime">at Mar 12, 2014 6:12</span>
                                        <span class="body">
                                            aoreet dolore magna aliquam erat volutpat.
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="__PUBLIC__/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Margarita Rose</a>
                                <span class="datetime">at Mar 12, 2014 6:13</span>
                                        <span class="body">
                                            sed diam nonummy nibh
                                        </span>
                            </div>
                        </li>
                    </ul>
                    <div class="chat-form ">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <input type="text" style="width: 100%" placeholder="Type a message here..." class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>



