<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{$website.title|default="LiteX"}</title>

    <include file="../Base/Public/head"/>
    <block name="style"></block>
</head>

<body class="sticky-header">`
    <section>
        <include file="../Base/Public/section_sider"/>

        <div class="main-content">

            <include file="../Base/Public/section_header" />

            <notempty name="page">
                <div class="page-heading">
                    <notempty name="page.title">
                        <h3>{$page.title}</h3>
                    </notempty>
                    <notempty name="page.breadcrumb">
                        <ul class="breadcrumb">
                            <volist name="page.breadcrumb" id="v">
                                <li><a href="{$v.url}">{$v.title}</a></li>
                            </volist>
                        </ul>
                        <script>
                            L.ready(function () {
                                $(".breadcrumb>li:last").addClass("active").attr("href","javascript:void(0);");
                            });
                        </script>
                    </notempty>
                </div>
            </notempty>

            <div class="wrapper">
                <block name="wrapper"></block>
            </div>
        </div>
    </section>

    <include file="../Base/Public/section_script" />

    <block name="script"></block>
</body>
</html>
