<div class="left-side sticky-left-side">
    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="__PUBLIC__/Test/Demo/Component/index">
            LiteX
            <!--<img src="__PUBLIC__/images/logo.png" style="width:176px;height:50px">-->
        </a>
    </div>

    <div class="logo-icon text-center">
        <a href="__PUBLIC__/Test/Demo/Component/index"><img src="__PUBLIC__/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->
    <div class="left-side-inner">
        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="__PUBLIC__/images/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="javascript:void(0);">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-user"></i> <span>PROFILE</span></a></li>
                <li><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="__PUBLIC__/Test/Demo/Component/index"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-laptop"></i> <span>Layouts</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/boxView"> Boxed Page</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/leftmenu_collapsed_view"> Sidebar Collapsed</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/horizontal_menu"> Horizontal Menu</a></li>

                </ul>
            </li>
            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-book"></i> <span>UI Elements</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/general"> General</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/buttons"> Buttons</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/tabs_accordions"> Tabs & Accordions</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/typography"> Typography</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/slider"> Slider</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/panels"> Panels</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-cogs"></i> <span>Components</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/grids"> Grids</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/gallery"> Media Gallery</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/calendar"> Calendar</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/tree_view"> Tree View</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/nestable"> Nestable</a></li>

                </ul>
            </li>

            <li><a href="__PUBLIC__/Test/Demo/Component/fontawesome"><i class="fa fa-bullhorn"></i> <span>Fontawesome</span></a></li>

            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-tasks"></i> <span>Forms</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Form/layout"> Form Layouts</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Form/advance"> Advanced Components</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Form/wizard"> Form Wizards</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Form/validation"> Form Validation</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/editors"> Editors</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/inline_editors"> Inline Editors</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/pickers"> Pickers</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/dropzone"> Dropzone</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-bar-chart-o"></i> <span>Charts</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/flotChart"> Flot Charts</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/morris"> Morris Charts</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/chartjs"> Chartjs</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/c3chart"> C3 Charts</a></li>
                </ul>
            </li>
            <li class="menu-list nav-active"><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-th-list"></i> <span>Data Tables</span></a>
                <ul class="sub-menu-list">
                    <li class="active"><a href="__PUBLIC__/Test/Demo/Table/basic"> Basic Table</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Table/dynamic"> Advanced Table</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Table/responsive"> Responsive Table</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Table/editable"> Edit Table</a></li>
                </ul>
            </li>

            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/map"> Google Map</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/vector_map"> Vector Map</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-file-text"></i> <span>Extra Pages</span></a>
                <ul class="sub-menu-list">
                    <li><a href="__PUBLIC__/Test/Demo/Component/profile"> Profile</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/invoice"> Invoice</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/pricing_table"> Pricing Table</a></li>
                    <li><a href="__PUBLIC__/Test/Demo/Component/timeline"> Timeline</a></li>
                </ul>
            </li>
        </ul>
        <!--sidebar nav end-->
    </div>
</div>