<extend file="/Admin/View/Base/common.html" />
<block name="script">
    <script>
        $(function () {
            var showTime = function () {
                var weekDayLabels = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
                var now = new Date();
                var year = now.getFullYear();
                var month = now.getMonth() + 1;
                var day = now.getDate();
                var Hours = now.getHours().toString();
                var Minutes = now.getMinutes().toString();
                var Second = now.getSeconds().toString();
                var h1 = "0", m1 = "0", s1 = "0";
                var h2, m2, s2;
                if (Hours > 9) {
                    h1 = Hours.substring(0, 1);
                    h2 = Hours.substring(1, 2);
                }
                else {
                    h1 = "0";
                    h2 = Hours;
                }
                if (Minutes > 9) {
                    m1 = Minutes.substring(0, 1);
                    m2 = Minutes.substring(1, 2);
                }
                else {
                    m1 = "0";
                    m2 = Minutes;
                }
                if (Second > 9) {
                    s1 = Second.substring(0, 1);
                    s2 = Second.substring(1, 2);
                }
                else {
                    s1 = "0";
                    s2 = Second;
                }
                var currentime = year + "年" + month + "月" + day + "日 " + weekDayLabels[now.getDay()];

                $("#h1").html(h1);
                $("#h2").html(h2);
                $("#m1").html(m1);
                $("#m2").html(m2);
                $("#s1").html(s1);
                $("#s2").html(s2);
                $("#currentime").html(currentime);
                window.setTimeout(showTime, 1000);
            };
        });
    </script>
</block>
<block name="body">
    <body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>首页</li>
        </ul>
    </div>
    <div class="mainindex">
        <div class="welinfo">
            <span><img src="__PUBLIC__/img/admin/sun.png" alt="天气"/></span>
            <b>您好，{$user_info.nickname}，欢迎使用信息管理系统！</b>
        </div>
        <div class="welinfo">
            <span><img src="__PUBLIC__/img/admin/time.png" alt="时间"/></span>
            <i>您上次登录的时间{$user_info.last_login_time|date="Y-m-d/H:i:s",###}：</i></div>
        <div class="welinfo">
            <object  width="200" height="80" id="honehoneclock" align="middle">
                <param name="allowScriptAccess" value="always">
                <!--<param name="movie" value="__PUBLIC__/flash/honehone_clock_wh.swf">-->
                <param name="quality" value="high">
                <param name="bgcolor" value="#ffffff">
                <param name="wmode" value="transparent">
                <embed wmode="transparent" src="__PUBLIC__/flash/honehone_clock_wh.swf" quality="high" bgcolor="#ffffff" width="200" height="80" name="honehoneclock" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
        </div>
        <br> <br> <br>
        <div class="xline"></div>
    </div>
    </body>
</block>