<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>{$title|default="Login"}</title>
    <include file="../Base/Public/head" />
</head>

<body class="login-body">
<div class="container">
    <form class="form-signin" action="__ACTION__" method="post" id="form">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="__PUBLIC__/images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder="User ID" autofocus>
            <input type="password" name="passwd" class="form-control" placeholder="Password">

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">Not a member yet?
                <a class="" href="__CONTROLLER__/register">Signup</a>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <!--<span class="pull-right">-->
                    <!--<a data-toggle="modal" href="#myModal"> Forgot Password?</a>-->
                <!--</span>-->
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>


<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<include file="../Base/Public/section_script"/>
<script>
    var error = "{$error}";
    error && layer.alert(error);
    var passwd = $("input[name=passwd]");
    $("#form").on("submit",function () {
        passwd.val(L.md5(L.sha1(passwd.val())));
        return true;
    })
</script>

</body>
</html>
