<div class="left-side sticky-left-side">
    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="{$website.logo_url}"><img id="website_logo" src=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="{$website.logo_url}"><img id="website_logo_icon" src="" alt=""></a>
    </div>
    <script>
        var ws_logo = "{$website.logo}",ws_logo_icon = "{$website.logo_icon}";
        if(ws_logo.indexOf("/") === 0) document.getElementById("website_logo").src = public_url+ws_logo;
        if(ws_logo_icon.indexOf("/") === 0) document.getElementById("website_logo_icon").src = public_url+ws_logo_icon;
    </script>
    <!--logo and iconic logo end-->
    <div class="left-side-inner" id="left-side-menu">
        <include file="../Base/Public/section_header_small_device"/>

        <ul class="nav nav-pills nav-stacked custom-nav" >
            <volist name="website.menu_list" id="item">
                <notempty name="item.children">
                    <li class="menu-list"><a href="javascript:void(0);"><i class="fa fa-{$item.icon|default='file-text'}"></i> <span>{$item.title}</span></a>
                        <ul class="sub-menu-list">
                            <volist name="item.children" id="v">
                                <li menu-id="{$v.id}"><a href="__PUBLIC__{$v.url}">{$v.title}</a></li>
                            </volist>
                        </ul>
                    </li>
                <else/>
                    <li menu-id="{$item.id}"><a href="__PUBLIC__{$item.url}"><i class="fa fa-{$item.icon|default='file-text'}"></i> <span>{$item.title}</span></a></li>
                </notempty>
            </volist>
        </ul>
        <script>
            L.ready(function () {
                $("#left-side-menu").find("li[menu-id=" + "{$page.active_id|default=0}" + "]").addClass("active").parents("li").addClass("nav-active");
            });
        </script>
    </div>
</div>