<!-- visible to small devices only -->
<div class="visible-xs hidden-sm hidden-md hidden-lg">
    <div class="media logged-user">
        <img alt="" src="{$userinfo.profile}" class="media-object">
        <div class="media-body">
            <h4><a href="#">{$userinfo.username}</a></h4>
            <span>"{$userinfo.nickname}"</span>
        </div>
    </div>

    <h5 class="left-nav-title">Account Information</h5>
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a href="__PUBLIC__/Test/Demo/Component/#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
        <li><a href="__PUBLIC__/Publics/logout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
    </ul>
</div>